@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GimpoGothicBold00';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/GimpoGothicBold00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HaenamFont';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/HaenamFont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.header-container {
    position: fixed;
    width: 100%;
    background-color: black;
    z-index: 99;
    font-family: 'HaenamFont';
}

.header-wrap {
    width: 100%;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    margin: 0 auto;
}

.header-wrap img {
    width: 100px;
    margin-right: 2%;
}

.header-title {
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin-left: 250px;
}

.header-title-font {
    font-size: 2em;
}

.header-font {
    font-size: 1.1em;
    line-height: normal
}


.menu-list {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
}

.menu1, .menu2, .menu3, .menu4 {
    transition: all .3s linear;
    cursor: pointer
}

.sub-menu1, .sub-menu2, .sub-menu3, .sub-menu4 {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    transform: scale(50%);
    transition: all .1s linear;
    background-color: white;
    border: 1px solid black;
    color: black;
    border-radius: 5px;
    overflow: hidden;
}

.sub-menu1 a, .sub-menu2 a, .sub-menu3 a, .sub-menu4 a {
    text-decoration: none;
    text-underline: none;
    color: black;
    margin-bottom: 10px;
    width: 100%;
    padding-left: 1%;
    padding-right: 1%
}

.sub-menu1 a:last-child, .sub-menu2 a:last-child, .sub-menu3 a:last-child, .sub-menu4 a:last-child {
    margin: 0;
}

.menu1:hover .sub-menu1, .menu2:hover .sub-menu2, .menu3:hover .sub-menu3, .menu4:hover .sub-menu4 {
    transform: scale(101%) translate(0% ,0%);
    opacity: 1;
    pointer-events: auto;
}

.menu1:hover, .menu2:hover, .menu3:hover, .menu4:hover {
    color: khaki
}

.sub-content {
    padding-top: 10px;
    padding-bottom: 10px;
}

.sub-content a {
    padding-right: 10px;
    padding-left: 10px;
}

.sub-content:hover {
    background-color: khaki;
    color: black;
    width: 100%;
}

.login {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 10%;
    margin-right: 250px
}

.login p {
    cursor: pointer
}

.login p:hover {
    color: khaki
}

.login img {
    width: 20%;
}


@media (max-width: 1220px) {
    .header-title {
        color: red
    }
}