/*body{ font-family: 'Oswald', sans-serif;}*/

.all-container{ position: relative; }

#section1,
#section2,
#section3,
#section4{
    background-size: cover;
    background-repeat: no-repeat;
}
/*#section1{
    background-image: url(../img/alcohol1.jpg);

}
#section2{
    background-image: url(../img/alcohol2.jpg);
    padding: 6% 0 0 0;
}
#section3{
    background-image: url(../img/alcohol3.jpg);
    padding: 6% 0 0 0;
}
#section4{
    background-image: url(../img/alcohol4.jpg);
    background-position: left top;
    padding: 6% 0 0 0 ;
}*/

.footer{ background-color: black; width: 100%;}
.footer-wrap{ width: 100%; max-width: 1440px; color: white; margin: 0 auto; padding-top: 3%; padding-bottom: 3% }


html, body {
    height: 100%;
}
body {
    background: black;
    min-height: 100%;
    overflow: hidden;
}
@keyframes move {
    100% {
        transform: translate3d(0, 0, -1000px);
    }
}
.container {
    position: relative;
    width: 100%;
    min-height: 100%;
    transform-style: preserve-3d;
}
.bubble-wrap {
    margin: 0 auto;
    width: 500px;
    height: 500px;
    transform-style: preserve-3d;
    transform-origin: center center;
    perspective: 600px;
}
.bubble {
    position: absolute;
    background: black;
    opacity: 0.7;
    border-radius: 50%;
    animation: move 3s infinite;
}
.bubble:nth-child(1) {
    height: 18px;
    width: 18px;
    animation-delay: -0.2s;
    transform: translate3d(177px, 1000px, 1682px);
    background: #4a26d9;
}
.bubble:nth-child(2) {
    height: 17px;
    width: 17px;
    animation-delay: -0.4s;
    transform: translate3d(587px, 555px, 701px);
    background: #ac26d9;
}
.bubble:nth-child(3) {
    height: 20px;
    width: 20px;
    animation-delay: -0.6s;
    transform: translate3d(987px, 589px, 382px);
    background: #d926a6;
}
.bubble:nth-child(4) {
    height: 27px;
    width: 27px;
    animation-delay: -0.8s;
    transform: translate3d(810px, 811px, 114px);
    background: #2685d9;
}
.bubble:nth-child(5) {
    height: 19px;
    width: 19px;
    animation-delay: -1s;
    transform: translate3d(306px, 772px, 1720px);
    background: #acd926;
}
.bubble:nth-child(6) {
    height: 11px;
    width: 11px;
    animation-delay: -1.2s;
    transform: translate3d(467px, 654px, 1780px);
    background: #d95626;
}
.bubble:nth-child(7) {
    height: 4px;
    width: 4px;
    animation-delay: -1.4s;
    transform: translate3d(51px, 101px, 1316px);
    background: #d0d926;
}
.bubble:nth-child(8) {
    height: 21px;
    width: 21px;
    animation-delay: -1.6s;
    transform: translate3d(979px, 118px, 1044px);
    background: #d92635;
}
.bubble:nth-child(9) {
    height: 13px;
    width: 13px;
    animation-delay: -1.8s;
    transform: translate3d(267px, 694px, 1726px);
    background: #3e26d9;
}
.bubble:nth-child(10) {
    height: 12px;
    width: 12px;
    animation-delay: -2s;
    transform: translate3d(353px, 674px, 1524px);
    background: #d9b226;
}
.bubble:nth-child(11) {
    height: 30px;
    width: 30px;
    animation-delay: -2.2s;
    transform: translate3d(181px, 614px, 410px);
    background: #9ad926;
}
.bubble:nth-child(12) {
    height: 25px;
    width: 25px;
    animation-delay: -2.4s;
    transform: translate3d(568px, 798px, 1560px);
    background: #26d950;
}
.bubble:nth-child(13) {
    height: 18px;
    width: 18px;
    animation-delay: -2.6s;
    transform: translate3d(449px, 737px, 741px);
    background: #d9267a;
}
.bubble:nth-child(14) {
    height: 20px;
    width: 20px;
    animation-delay: -2.8s;
    transform: translate3d(52px, 143px, 1664px);
    background: #c4d926;
}
.bubble:nth-child(15) {
    height: 3px;
    width: 3px;
    animation-delay: -3s;
    transform: translate3d(821px, 969px, 372px);
    background: #d926af;
}
.bubble:nth-child(16) {
    height: 4px;
    width: 4px;
    animation-delay: -3.2s;
    transform: translate3d(784px, 514px, 1460px);
    background: #d626d9;
}
.bubble:nth-child(17) {
    height: 6px;
    width: 6px;
    animation-delay: -3.4s;
    transform: translate3d(459px, 724px, 1868px);
    background: #7ad926;
}
.bubble:nth-child(18) {
    height: 28px;
    width: 28px;
    animation-delay: -3.6s;
    transform: translate3d(544px, 442px, 942px);
    background: #3226d9;
}
.bubble:nth-child(19) {
    height: 25px;
    width: 25px;
    animation-delay: -3.8s;
    transform: translate3d(17px, 606px, 589px);
    background: #68d926;
}
.bubble:nth-child(20) {
    height: 13px;
    width: 13px;
    animation-delay: -4s;
    transform: translate3d(537px, 883px, 1767px);
    background: #d99d26;
}
.bubble:nth-child(21) {
    height: 20px;
    width: 20px;
    animation-delay: -4.2s;
    transform: translate3d(825px, 34px, 865px);
    background: #d92656;
}
.bubble:nth-child(22) {
    height: 6px;
    width: 6px;
    animation-delay: -4.4s;
    transform: translate3d(167px, 18px, 1552px);
    background: #d94a26;
}
.bubble:nth-child(23) {
    height: 25px;
    width: 25px;
    animation-delay: -4.6s;
    transform: translate3d(833px, 484px, 300px);
    background: #d93e26;
}
.bubble:nth-child(24) {
    height: 23px;
    width: 23px;
    animation-delay: -4.8s;
    transform: translate3d(553px, 661px, 1779px);
    background: #53d926;
}
.bubble:nth-child(25) {
    height: 1px;
    width: 1px;
    animation-delay: -5s;
    transform: translate3d(552px, 9px, 49px);
    background: #26d9cd;
}
.bubble:nth-child(26) {
    height: 2px;
    width: 2px;
    animation-delay: -5.2s;
    transform: translate3d(497px, 493px, 1811px);
    background: #d95626;
}
.bubble:nth-child(27) {
    height: 24px;
    width: 24px;
    animation-delay: -5.4s;
    transform: translate3d(787px, 800px, 847px);
    background: #c7d926;
}
.bubble:nth-child(28) {
    height: 4px;
    width: 4px;
    animation-delay: -5.6s;
    transform: translate3d(796px, 208px, 190px);
    background: #4d26d9;
}
.bubble:nth-child(29) {
    height: 1px;
    width: 1px;
    animation-delay: -5.8s;
    transform: translate3d(454px, 715px, 352px);
    background: #d926be;
}
.bubble:nth-child(30) {
    height: 24px;
    width: 24px;
    animation-delay: -6s;
    transform: translate3d(109px, 789px, 463px);
    background: #be26d9;
}
.bubble:nth-child(31) {
    height: 16px;
    width: 16px;
    animation-delay: -6.2s;
    transform: translate3d(204px, 924px, 517px);
    background: #26b2d9;
}
.bubble:nth-child(32) {
    height: 28px;
    width: 28px;
    animation-delay: -6.4s;
    transform: translate3d(531px, 526px, 1007px);
    background: #26acd9;
}
.bubble:nth-child(33) {
    height: 24px;
    width: 24px;
    animation-delay: -6.6s;
    transform: translate3d(395px, 318px, 8px);
    background: #26a9d9;
}
.bubble:nth-child(34) {
    height: 17px;
    width: 17px;
    animation-delay: -6.8s;
    transform: translate3d(222px, 346px, 868px);
    background: #26d9c4;
}
.bubble:nth-child(35) {
    height: 14px;
    width: 14px;
    animation-delay: -7s;
    transform: translate3d(173px, 876px, 1186px);
    background: #267ad9;
}
.bubble:nth-child(36) {
    height: 21px;
    width: 21px;
    animation-delay: -7.2s;
    transform: translate3d(393px, 274px, 926px);
    background: #d97726;
}
.bubble:nth-child(37) {
    height: 1px;
    width: 1px;
    animation-delay: -7.4s;
    transform: translate3d(705px, 969px, 1803px);
    background: #74d926;
}
.bubble:nth-child(38) {
    height: 16px;
    width: 16px;
    animation-delay: -7.6s;
    transform: translate3d(456px, 258px, 816px);
    background: #26d92c;
}
.bubble:nth-child(39) {
    height: 18px;
    width: 18px;
    animation-delay: -7.8s;
    transform: translate3d(6px, 842px, 1150px);
    background: #d926d3;
}
.bubble:nth-child(40) {
    height: 16px;
    width: 16px;
    animation-delay: -8s;
    transform: translate3d(553px, 228px, 369px);
    background: #afd926;
}
.bubble:nth-child(41) {
    height: 24px;
    width: 24px;
    animation-delay: -8.2s;
    transform: translate3d(796px, 677px, 1160px);
    background: #26d938;
}
.bubble:nth-child(42) {
    height: 5px;
    width: 5px;
    animation-delay: -8.4s;
    transform: translate3d(528px, 277px, 180px);
    background: #26d985;
}
.bubble:nth-child(43) {
    height: 16px;
    width: 16px;
    animation-delay: -8.6s;
    transform: translate3d(3px, 98px, 1844px);
    background: #d93b26;
}
.bubble:nth-child(44) {
    height: 3px;
    width: 3px;
    animation-delay: -8.8s;
    transform: translate3d(258px, 996px, 648px);
    background: #264ad9;
}
.bubble:nth-child(45) {
    height: 23px;
    width: 23px;
    animation-delay: -9s;
    transform: translate3d(282px, 376px, 1602px);
    background: #d92691;
}
.bubble:nth-child(46) {
    height: 18px;
    width: 18px;
    animation-delay: -9.2s;
    transform: translate3d(606px, 638px, 1125px);
    background: #d926d9;
}
.bubble:nth-child(47) {
    height: 4px;
    width: 4px;
    animation-delay: -9.4s;
    transform: translate3d(452px, 526px, 644px);
    background: #d9d926;
}
.bubble:nth-child(48) {
    height: 15px;
    width: 15px;
    animation-delay: -9.6s;
    transform: translate3d(669px, 450px, 1569px);
    background: #d98526;
}
.bubble:nth-child(49) {
    height: 12px;
    width: 12px;
    animation-delay: -9.8s;
    transform: translate3d(501px, 388px, 1714px);
    background: #2635d9;
}
.bubble:nth-child(50) {
    height: 14px;
    width: 14px;
    animation-delay: -10s;
    transform: translate3d(62px, 956px, 537px);
    background: #26d947;
}
.bubble:nth-child(51) {
    height: 5px;
    width: 5px;
    animation-delay: -10.2s;
    transform: translate3d(37px, 849px, 1936px);
    background: #d926b8;
}
.bubble:nth-child(52) {
    height: 19px;
    width: 19px;
    animation-delay: -10.4s;
    transform: translate3d(648px, 397px, 576px);
    background: #d92629;
}
.bubble:nth-child(53) {
    height: 4px;
    width: 4px;
    animation-delay: -10.6s;
    transform: translate3d(225px, 798px, 767px);
    background: #26b5d9;
}
.bubble:nth-child(54) {
    height: 28px;
    width: 28px;
    animation-delay: -10.8s;
    transform: translate3d(761px, 624px, 1218px);
    background: #26d926;
}
.bubble:nth-child(55) {
    height: 6px;
    width: 6px;
    animation-delay: -11s;
    transform: translate3d(433px, 834px, 673px);
    background: #26c4d9;
}
.bubble:nth-child(56) {
    height: 10px;
    width: 10px;
    animation-delay: -11.2s;
    transform: translate3d(560px, 33px, 1150px);
    background: #d9ca26;
}
.bubble:nth-child(57) {
    height: 20px;
    width: 20px;
    animation-delay: -11.4s;
    transform: translate3d(341px, 718px, 1039px);
    background: #2c26d9;
}
.bubble:nth-child(58) {
    height: 14px;
    width: 14px;
    animation-delay: -11.6s;
    transform: translate3d(343px, 299px, 1666px);
    background: #d9b226;
}
.bubble:nth-child(59) {
    height: 24px;
    width: 24px;
    animation-delay: -11.8s;
    transform: translate3d(369px, 2px, 719px);
    background: #2629d9;
}
.bubble:nth-child(60) {
    height: 18px;
    width: 18px;
    animation-delay: -12s;
    transform: translate3d(522px, 884px, 1974px);
    background: #265cd9;
}
.bubble:nth-child(61) {
    height: 6px;
    width: 6px;
    animation-delay: -12.2s;
    transform: translate3d(698px, 356px, 1853px);
    background: #d9cd26;
}
.bubble:nth-child(62) {
    height: 14px;
    width: 14px;
    animation-delay: -12.4s;
    transform: translate3d(878px, 695px, 70px);
    background: #7d26d9;
}
.bubble:nth-child(63) {
    height: 18px;
    width: 18px;
    animation-delay: -12.6s;
    transform: translate3d(208px, 124px, 125px);
    background: #26d938;
}
.bubble:nth-child(64) {
    height: 7px;
    width: 7px;
    animation-delay: -12.8s;
    transform: translate3d(604px, 362px, 734px);
    background: #d99726;
}
.bubble:nth-child(65) {
    height: 25px;
    width: 25px;
    animation-delay: -13s;
    transform: translate3d(964px, 427px, 197px);
    background: #afd926;
}
.bubble:nth-child(66) {
    height: 6px;
    width: 6px;
    animation-delay: -13.2s;
    transform: translate3d(839px, 87px, 1627px);
    background: #6826d9;
}
.bubble:nth-child(67) {
    height: 28px;
    width: 28px;
    animation-delay: -13.4s;
    transform: translate3d(120px, 869px, 43px);
    background: #2665d9;
}
.bubble:nth-child(68) {
    height: 18px;
    width: 18px;
    animation-delay: -13.6s;
    transform: translate3d(545px, 254px, 1647px);
    background: #7126d9;
}
.bubble:nth-child(69) {
    height: 4px;
    width: 4px;
    animation-delay: -13.8s;
    transform: translate3d(979px, 967px, 1893px);
    background: #2688d9;
}
.bubble:nth-child(70) {
    height: 12px;
    width: 12px;
    animation-delay: -14s;
    transform: translate3d(63px, 42px, 182px);
    background: #26d96e;
}
.bubble:nth-child(71) {
    height: 3px;
    width: 3px;
    animation-delay: -14.2s;
    transform: translate3d(902px, 622px, 1448px);
    background: #4426d9;
}
.bubble:nth-child(72) {
    height: 19px;
    width: 19px;
    animation-delay: -14.4s;
    transform: translate3d(44px, 24px, 578px);
    background: #2647d9;
}
.bubble:nth-child(73) {
    height: 10px;
    width: 10px;
    animation-delay: -14.6s;
    transform: translate3d(598px, 413px, 94px);
    background: #2653d9;
}
.bubble:nth-child(74) {
    height: 9px;
    width: 9px;
    animation-delay: -14.8s;
    transform: translate3d(140px, 566px, 792px);
    background: #2682d9;
}
.bubble:nth-child(75) {
    height: 28px;
    width: 28px;
    animation-delay: -15s;
    transform: translate3d(475px, 910px, 834px);
    background: #ac26d9;
}
.bubble:nth-child(76) {
    height: 13px;
    width: 13px;
    animation-delay: -15.2s;
    transform: translate3d(858px, 834px, 571px);
    background: #4a26d9;
}
.bubble:nth-child(77) {
    height: 20px;
    width: 20px;
    animation-delay: -15.4s;
    transform: translate3d(847px, 122px, 777px);
    background: #2926d9;
}
.bubble:nth-child(78) {
    height: 11px;
    width: 11px;
    animation-delay: -15.6s;
    transform: translate3d(179px, 484px, 1829px);
    background: #d93b26;
}
.bubble:nth-child(79) {
    height: 21px;
    width: 21px;
    animation-delay: -15.8s;
    transform: translate3d(50px, 401px, 1970px);
    background: #d9d626;
}
.bubble:nth-child(80) {
    height: 12px;
    width: 12px;
    animation-delay: -16s;
    transform: translate3d(504px, 391px, 828px);
    background: #c4d926;
}
.bubble:nth-child(81) {
    height: 25px;
    width: 25px;
    animation-delay: -16.2s;
    transform: translate3d(945px, 117px, 399px);
    background: #d96e26;
}
.bubble:nth-child(82) {
    height: 14px;
    width: 14px;
    animation-delay: -16.4s;
    transform: translate3d(770px, 520px, 1118px);
    background: #d92685;
}
.bubble:nth-child(83) {
    height: 20px;
    width: 20px;
    animation-delay: -16.6s;
    transform: translate3d(986px, 171px, 600px);
    background: #a026d9;
}
.bubble:nth-child(84) {
    height: 17px;
    width: 17px;
    animation-delay: -16.8s;
    transform: translate3d(785px, 754px, 1283px);
    background: #d96226;
}
.bubble:nth-child(85) {
    height: 2px;
    width: 2px;
    animation-delay: -17s;
    transform: translate3d(596px, 978px, 465px);
    background: #263bd9;
}
.bubble:nth-child(86) {
    height: 12px;
    width: 12px;
    animation-delay: -17.2s;
    transform: translate3d(415px, 329px, 1832px);
    background: #d92694;
}
.bubble:nth-child(87) {
    height: 28px;
    width: 28px;
    animation-delay: -17.4s;
    transform: translate3d(143px, 770px, 351px);
    background: #b2d926;
}
.bubble:nth-child(88) {
    height: 19px;
    width: 19px;
    animation-delay: -17.6s;
    transform: translate3d(628px, 72px, 959px);
    background: #88d926;
}
.bubble:nth-child(89) {
    height: 17px;
    width: 17px;
    animation-delay: -17.8s;
    transform: translate3d(856px, 344px, 1547px);
    background: #d94a26;
}
.bubble:nth-child(90) {
    height: 2px;
    width: 2px;
    animation-delay: -18s;
    transform: translate3d(859px, 467px, 330px);
    background: #d94726;
}
.bubble:nth-child(91) {
    height: 25px;
    width: 25px;
    animation-delay: -18.2s;
    transform: translate3d(283px, 267px, 1689px);
    background: #6b26d9;
}
.bubble:nth-child(92) {
    height: 14px;
    width: 14px;
    animation-delay: -18.4s;
    transform: translate3d(173px, 798px, 1536px);
    background: #26d99d;
}
.bubble:nth-child(93) {
    height: 11px;
    width: 11px;
    animation-delay: -18.6s;
    transform: translate3d(744px, 503px, 481px);
    background: #26d9d3;
}
.bubble:nth-child(94) {
    height: 9px;
    width: 9px;
    animation-delay: -18.8s;
    transform: translate3d(249px, 766px, 1704px);
    background: #d9266b;
}
.bubble:nth-child(95) {
    height: 3px;
    width: 3px;
    animation-delay: -19s;
    transform: translate3d(725px, 596px, 1273px);
    background: #5fd926;
}
.bubble:nth-child(96) {
    height: 30px;
    width: 30px;
    animation-delay: -19.2s;
    transform: translate3d(192px, 218px, 388px);
    background: #80d926;
}
.bubble:nth-child(97) {
    height: 5px;
    width: 5px;
    animation-delay: -19.4s;
    transform: translate3d(386px, 585px, 1822px);
    background: #d92c26;
}
.bubble:nth-child(98) {
    height: 5px;
    width: 5px;
    animation-delay: -19.6s;
    transform: translate3d(414px, 838px, 1243px);
    background: #d9c126;
}
.bubble:nth-child(99) {
    height: 24px;
    width: 24px;
    animation-delay: -19.8s;
    transform: translate3d(305px, 990px, 842px);
    background: #d92638;
}
.bubble:nth-child(100) {
    height: 3px;
    width: 3px;
    animation-delay: -20s;
    transform: translate3d(690px, 758px, 293px);
    background: #9726d9;
}
